@import url('https://fonts.googleapis.com/css?family=Raleway');

body, html{
    height: 100%;
    font-family: "Raleway";
    color: rgb(40,40,40);
}
#wrap {
  min-height: 100%;
}
.fa {
  margin: 0px 2px;
  color: #646464;
}

.fa:hover {
  color: #6699ff;
}

h2, a{
    color: rgb(102, 153, 255);
}
.post{
  margin-bottom: 50px;
}

.about-me {
  font-size: small;
  font-style: italic;
  text-align: justify;
}

.img-div{
    height: 140px;
    width: 140px;
    overflow: hidden;
    border-radius: 50%;
    margin: 50px auto;
}

p.meta{
	font-size: x-small;
}

.img-div img{
  transform: translate(-50%);
  -ms-transform:r translate(-50%); /* IE 9 */
  -moz-transform: translate(-50%); /* Firefox */
  -webkit-transform: translate(-50%); /* Safari and Chrome */
  -o-transform: translate(-50%); /* Opera */
  width: 140px;
  height: 140px;
  margin-left: 70px;
  margin-top: 0px;
  vertical-align: middle;
}
.web-img{
    vertical-align: text-top;
    float: right;
    padding: 5px 0px 15px 15px;
}
.navbar-default {
    background-color: rgb(102,153,255);
    border: 0px;
    /*border-bottom-color: rgb(200, 200, 200);*/
    background-image: url('../images/Bar.GIF');
    background-repeat: repeat-x;
    background-position: bottom;
    padding: 10px 0px 20px 0px;
}
.navbar-default .navbar-brand {
    color: #646464;
    margin-top: 3px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000;
    background-color: none;
}
.navbar-default .navbar-nav > li > a.active{
    background-color: white;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    background-color: rgb(102,153,255);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: black;
    background-color: rgb(102,153,255);
    /*border-bottom: 2px solid rgb(102, 153, 255);*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: rgb(102,153,255);
    font-weight: bold;
    /*border-bottom: 2px solid rgb(102, 153, 255);*/
}

.navbar-default .navbar-nav > li > img.mario-img {
  display: none;
  margin: 0px auto -4px auto;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .navbar-default .navbar-nav > li.active > img.mario-img {
    display: block;
  }
}

.navbar-default .navbar-toggle {
   border: none;
}
.navbar-toggle{
   padding: 0px;
   margin: 0px;
   margin-top: -10px;
   margin-right: 16px;
}
.navbar-default .navbar-toggle:hover{
   background-color: rgb(102,153,255);
}




#photos{
	width: 100%;
	margin: 0px auto;
}
#photos ul {
  list-style-type: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
 
#photos li {
  float: left;
  position: relative;
  overflow: hidden;
  margin: 1px;
}

#photos li{
	width: 19.7%;
  height: 187px;
}
 
#photos li:hover {
  cursor: pointer;
}

#photos li img{
	width: auto !important;
	height: 100% !important;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

#photos li p {
  color: transparent;
  background: transparent;
/*   font: 50 30px/187px 'Arvo', Helvetica, Arial, sans-serif; */
  text-align: center;
/*   text-transform: uppercase; */
  
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 100%; 
 
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
 
#photos li:hover p {
  color: white;
  background: #000; /*fallback for old browsers*/
  background: rgba(0,0,0,0.7);
}

#photos li div{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
#photos li div.div-photoset{
	background-color: rgb(50,50,50);
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
	cursor: auto;
}
@media screen and (max-width: 1120px) {
	#photos li{
		width: 24%;
		height: 154px;
	}
}
 
@media screen and (max-width: 840px) {
  #photos li{
  	width: 32%;
  	height: 150px;
  }
}
 
@media screen and (max-width: 560px) {
  #photos li {
  	width: 49%;
  	height: 150px;
  }
  
}
@media screen and (max-width: 400px) {
	#photos li {
		font-size: x-small;
	  }
}


footer{
    margin-top: 150px;
    padding-bottom: 50px;
    font-size: small;
    color: rgb(200, 200, 200);
    background-image: url('../images/Bottom.GIF');
    background-repeat: repeat-x;
    background-position: bottom;
}
