@import url('https://fonts.googleapis.com/css?family=Raleway');

body, html{
    height: 100%;
    font-family: "Raleway";
    color: rgb(40,40,40);
}
#wrap {
  min-height: 100%;
}
.fa {
  margin: 0px 2px;
  color: #646464;
}

.fa:hover {
  color: #6699ff;
}

h2, a{
    color: rgb(102, 153, 255);
}

.about-me {
  font-size: small;
  font-style: italic;
  text-align: justify;
}
.img-div{
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 50px auto;
}


.img-div img{
transform: translate(-50%);
-ms-transform:r translate(-50%); /* IE 9 */
-moz-transform: translate(-50%); /* Firefox */
-webkit-transform: translate(-50%); /* Safari and Chrome */
-o-transform: translate(-50%); /* Opera */
width: 150px;
height: 150px;
margin-left: 75px;
margin-top: -5px;
vertical-align: middle;
}
.web-img{
    vertical-align: text-top;
    float: right;
    padding: 5px 0px 15px 15px;
}
.navbar-default {
    background-color: rgb(102,153,255);
    border: 0px;
    /*border-bottom-color: rgb(200, 200, 200);*/
    background-image: url('../images/Bar.GIF');
    background-repeat: repeat-x;
    background-position: bottom;
    padding: 10px 0px 20px 0px;
}
.navbar-default .navbar-brand {
    color: #646464;
    margin-top: 3px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000;
    background-color: none;
}
.navbar-default .navbar-nav > li > a.active{
    background-color: white;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
    background-color: rgb(102,153,255);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: black;
    background-color: rgb(102,153,255);
    /*border-bottom: 2px solid rgb(102, 153, 255);*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: rgb(102,153,255);
    font-weight: bold;
    /*border-bottom: 2px solid rgb(102, 153, 255);*/
}

.navbar-default .navbar-nav > li > img.mario-img {
  display: none;
  margin: 0px auto -4px auto;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .navbar-default .navbar-nav > li.active > img.mario-img {
    display: block;
  }
}

.navbar-default .navbar-toggle {
   border: none;
}
.navbar-toggle{
   padding: 0px;
   margin: 0px;
   margin-top: -10px;
   margin-right: 16px;
}
.navbar-default .navbar-toggle:hover{
   background-color: rgb(102,153,255);
}

footer{
    margin-top: 150px;
    padding-bottom: 50px;
    font-size: small;
    color: rgb(200, 200, 200);
    background-image: url('../images/Bottom.GIF');
    background-repeat: repeat-x;
    background-position: bottom;
}
