{% load staticfiles %}
{% load analytical %}
<!DOCTYPE html>
<html lang="en">
   {% include "header.html" %}
  <body>
    {% analytical_body_top %}
    <div id="wrap">
    {% include "navbar.html" %}
    <div class="container">
        <div class="row searchdiv hidden-lg hidden-md hidden-sm">{% include "searchform.html" %}</div><!-- /.row -->
        <div class="row">
        <div class="col-sm-9 blog-main">
          {% block blog_entries %} {% endblock %}
          {% if is_paginated %}
            <ul class="pager">
              <li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a style="border: none;" {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}><img src="{% static 'images/Pipe_left_up.GIF' %}" alt="Previous" /></a></li>
              <li {% if not page_obj.has_next %}class="disabled"{% endif %}><a style="border: none;" {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}><img src="{% static 'images/Pipe_up_right.GIF' %}" alt="Next"/></a></li>
            </ul>
          {% endif %}
        </div><!-- /.blog-main -->
        <div class="col-sm-3 col-sm-offset-0 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset about-me">
            <div class="row searchdiv hidden-xs">{% include "searchform.html" %}</div><!-- /.row -->
            <div class="img-div"><img src="{% static "images/JJ_Montreal.png" %}" /></div>
            <p>
	           I am a Data Scientist currently working for Itility BV. I have a passion for the field of machine learning,
               pattern recognition, big data and ubiquitous computing.
            </p>
            <p>
            While I mainly work in Python, I try to experiment with different languages and frameworks when I can. 
            I am using this page as a portfolio and showcase, but mainly as a cheatsheet. That's why
            you will mainly find shell commands or short scripts just for myself to not reinvent the wheel.
            </p>
	    <p>
               The following cheatsheets are still in progress. I will add new snippets over time.
               <ul class="cheatsheet">
		 <li><a href="http://jitsejan.com/latex/">Latex cheatsheet</a></li>
		 <li><a href="http://jitsejan.com/splunk/">Splunk cheatsheet</a></li>	
	       </ul>
            </p>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.wrap !-->
  {% include "footer.html" %}
  {% analytical_body_bottom %}
  </body>
</html>
