<!--
# History
#
# 2016-08-09 Add photo list item
!-->
{% load staticfiles %}
{% load mytags %}

{% url 'home_url' as home %}
{% url 'projects_url' as projects %}
{% url 'websites_url' as websites %}
{% url 'photos_url' as photos %}
{% url 'about_url' as about %}


<div id="top-bar">

<nav class="navbar navbar-default" role="navigation">
                <div class="container">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                        <img data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle" src="{% static "images/Pipe_up.GIF" %}" alt="Mario stand right" />
                        <a class="navbar-brand" href="{{ home }}"><img class="" src="{% static "images/logo.png" %}" alt="Logo" /></a>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav pull-right">
                          <li class="{% active request home %}">
                                <a class="" href="{{ home }}"><img class="" src="{% static "images/home.gif"%}" alt="Home" /></a>
                                <img class="mario-img" src="{% static "images/Mario_stand_right.GIF" %}" alt="Mario stand right" />
                          </li>
                          <li class="{% active request projects %}">
                                <a class="" href="{{ projects }}"><img class="" src="{% static "images/projects.gif" %}" alt="Projects" /></a>
                                <img class="mario-img" src="{% static "images/Mario_stand_right.GIF" %}" alt="Mario stand right" />
                          </li>
                          <li class="{% active request websites %}">
                                <a class="" href="{{ websites }}"><img class="" src="{% static "images/websites.gif" %}" alt="Websites" /></a>
                                <img class="mario-img" src="{% static "images/Mario_stand_right.GIF" %}" alt="Mario stand right" />
                          </li>
                          <li class="{% active request photos %}">
                                <a class="" href="{{ photos }}"><img class="" src="{% static "images/photos.gif" %}" alt="Photos" /></a>
                                <img class="mario-img" src="{% static "images/Mario_stand_right.GIF" %}" alt="Mario stand right" />
                          </li>
<!--
                          <li class="{% active request about %}">
                                <a class="" href="{{ about }}"><img class="" src="{% static "images/about.gif" %}" alt="About" /></a>
                                <img class="mario-img" src="{% static "images/Mario_stand_right.GIF" %}" alt="Mario stand right" />
                          </li>
!-->
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                          <!--
                          <li><a href="#">Link</a></li>
                          <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">Action</a></li>
                                  <li><a href="#">Another action</a></li>
                                  <li><a href="#">Something else here</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#">Separated link</a></li>
                                </ul>
                          </li>
                          !-->
                        </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
          </nav>
    </div><!-- /top-bar -->
