{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <title>Photos | JJ's World</title>
  {% include "header.html" %}
  <body>
    <div id="wrap">
    {% include "navbar.html" %}
    <div class="container">
      <div id="photos" class="row">
        {% block object_list %}
        <ul>
          {% for photoset in object_list %}
            <li class="li-photoset">
  			    <div class="div-photoset">{{ photoset.title }}</div>
  			</li>
  			{% for photo in photoset.photos.all %} <!-- url_o !-->
  			<a class="swipebox" href="{{ photo.image_url }}" title="{{ photo.title }}">
  			<li>
  				<p>
  					<b>{{ photo.title }}</b>
  					<br/><br/><br/>
  					[{{ photo.date_taken }}]
  				</p>
  				<div style="background-image: url('{{ photo.image_url }}');">
  				</div>
  			</li>
			</a>
  			{% endfor %}
          {% endfor %}
        </ul>
        {% endblock %}
	</div> <!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.wrap -->
  {% include "footer.html" %}
  </body>
</html>
