{% load markdownify %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <title>{{ object.title }} | JJ's World</title>
  {% include "header.html" %}
  <body>
    <div id="wrap">
    {% include "navbar.html" %}
    <div class="container">
    {% block blog_entries %}
        <div class="row">
            <a href="{% url 'home_url' %}">Go back</a>
        </div>
        <div class="row">
            <div class="post">
            <h2>{{ object.title }}</h2>
            {{ object.body | markdown | safe}}
            <p class="meta">
              {{ object.created }} |
              Category {{  object.tags.all|join:", " }}
            </p>
          </div>
        </div>
        <div class="row">
            <a href="{% url 'home_url' %}">Go back</a>
        </div>
        {% endblock %} 
    </div><!-- /.container -->
  </div><!-- /.wrap -->
  {% include "footer.html" %}
  </body>
</html>

