{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <title>Search | JJ's World</title>
  {% include "header.html" %}
  <body>
    <div id="wrap">
    {% include "navbar.html" %}
    <div class="container">
        <div class="row searchdiv">
            <form id="searchform" action="{% url 'search_url' %}" method="get">
                <input type="text" name="q" type="text"/>
                <button type="button" onclick="searchform.submit()" class="btncls">Search</button>
            </form>
        </div><!-- /.row -->
        <div class="row">
            <p>Posts containing '{{query_string}}'</p> 
            {% if posts %}
            {% for post in posts %}
                <div>
                    <a href="{% url 'entry_detail' slug=post.slug %}"><h2 class="page-title">{{ post.title }}</h2></a>
                    <span><p> {{ post.created }} </p></span>
                    <span><p>Category {{  post.tags.all|join:", " }}</p></span>
                </div>
            {% endfor %}
            {% else %}
                <div>No results!</div>
            {% endif %}
           </div>
      </div><!-- /.container -->
  </div><!-- /.wrap -->
  {% include "footer.html" %}
  </body>
</html>
