{%load django_markdown %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <title>Websites | JJ's World</title>
  {% include "header.html" %}
  <body>
    <div id="wrap">
    {% include "navbar.html" %}
    <div class="container">
        {% block website_list %}
        <div class="row">
        {% for website in website_list %}
        {% if forloop.counter|divisibleby:2 %}<div class="row">{% endif %}
        <div class="website col-md-6 col-xs-12">
        <h2>{{ website.title }}</h2>
        <img width="200" class="web-img" src="{% static website.image %}"/>
        {{ website.description|markdown }}
        {% if forloop.counter|divisibleby:2 %}</div>{% endif %}
        </div>
        {% endfor %}
        {% endblock %}
	</div><!-- /.container -->
  </div><!-- /.wrap -->
  {% include "footer.html" %}
  </body>
</html>
