{% load markdownify %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <title>{{ flatpage.title }} | JJ's World</title>
  {% include "header.html" %}
  <body>
    <div id="wrap">
    {% include "navbar.html" %}

    <div class="container">
	<h1>{{ flatpage.title  }}</h1>
	<div class="row">
		<div class="col-xs-12 col-offset-xs-0">{{ flatpage.content | markdown | safe}}</div>
	</div> <!-- /.row -->
        

    </div><!-- /.container -->
  </div><!-- /.wrap -->
  {% include "footer.html" %}
  </body>
</html>
